.DS_Store
holeycc
obj
compile_commands.json
src/lexer.yy.cc
tests/*/*.out
tests/*/*.err
tests/*.out
tests/*.err
src/parser.cc
inc/grammar.hh
parser.output
*.backup
/.clangd/
/.projectile
/a
/b
/tests/symbol-table/.Makefile.swp
*.3ac
*.o
*.d
